.o_totem_prueba_totem_mode_text_header{
  display: flex;
  align-items: center;
  justify-content: center;
}
#header{
 /* background: url('/totem_prueba/static/src/img/header.jpg') no-repeat fixed center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#headerTotem{
  display: flex;
  align-items: center;
  justify-content: center;
}

#leftArrow{
  height:50px;
  width:50px;
}

#rightArrow{
  height:50px;
  width:50px;
}

.buttons{
  border-color: transparent;
  text-align:center;
  background-color: transparent;
}
.botonera{
  text-align: center;
}
.o_totem_prueba_totem_mode_left_side{
   display: flex;
  align-items: center;
  justify-content: center;
}

.o_totem_prueba_totem_mode_right_side{
 background-color: transparent;
    display: flex;
  align-items: center;
  justify-content: center;
}

#title{
  color:white;
  font-size: 64px;
  text-align: center;
}

#banner{
  position:absolute;
  padding-top:20px;
}

.PosicionQR{
  position:absolute;
  right:0;
  bottom:0;
}

#descriptionContent{
  padding-top: 50px;
}
#description{
  color : black;
  font-size: x-large;
}
#slideshowContent{
  display: flex;
  align-items: center;
  justify-content: center;
}
#slideshow{
  text-align: center;
}
#imagenSlider{
  background-color: transparent;
}
.BannerSection{
  position:relative;
}

/*#footer{
   /* background: url('/totem_prueba/static/src/img/footer.jpg') no-repeat fixed center;*/
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}*/
/*.o_totem_prueba_totem_mode_footer{
  display: flex;
  justify-content:space-between;
}*/
#footerText{
  display: flex;
  align-items: center;
  justify-content: center;
}
#footerContent{

  text-align:center;
  color : white;
  font-size: xx-large;
}
#QRFooterContainer{
    width: 132px;
    height: 132px;
    overflow: hidden;
    margin:0px;
    position: relative;
}
#QrPopUp{
    width: 95px;
    height: 90px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
#QRBannerContainer{
      width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.QR{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

#videobanner{
  position:absolute;
  padding-top:20px;
}

#rss_video{
  position:absolute;
  padding-top:20px;
}


#crossImg{
  heigth:100%;
  width:100%;
}
#closeButton{
  position:absolute;
  right:5px;
  top:0; 
  text-align:right;
  border-color: transparent;
  background-color: transparent;
  heigth:5%;
  width:5%;
}

/* Estilos de modal */

#template1_pop_up {
    background: #d5d4c3 !important;
    border: 1.5px solid grey;
}

.modal-header{
  position:relative;
  display: flex;
  align-items: right;
  text-align:right;
}
.modal-title{
  right:20px;
}
.modal-body {
  position:relative;
}

.modal-perl .modal-backdrop{
   background-color: #d5d4c3 ;
}
#descriptionPopUp{
  position:absolute;
  right:20px;
}

#QrPopUp{
  margin-right:1%;
  margin-top:5%;
}

#cancelarContenedor{
  display: flex;
  align-items: center;
  justify-content: center;
}
#cancelarButton{
  text-align:center;
  width:100px;
}



