#contenedor{
   background: url('/totem_prueba/static/src/img/fondo.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
}
.o_totem_prueba_totem_mode_text_header{
  display: flex;
  align-items: center;
  justify-content: center;
}
#header{
    background: url('/totem_prueba/static/src/img/header.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
  display: flex;
  align-items: center;
  justify-content: center;
}
#headerTotem{
  width: 1080px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#leftArrow{
  height:100px;
  width:100px;

}
#rightArrow{
  height:100px;
  width:100px;
}
.myHeight {
  height: 100px;
}

.myGeneralWidth {
  width: 880px;
}

.buttons{
  border-color: transparent;
  text-align:center;
  background-color: transparent;
}
.botonera{
  text-align: center;
}
.o_totem_prueba_totem_mode_left_side{
 height:1656px;
   display: flex;
  align-items: center;
  justify-content: center;
}

.o_totem_prueba_totem_mode_right_side{
 height:1656px;
 background-color: transparent;
    display: flex;
  align-items: center;
  justify-content: center;
}
#centerColumn{
  height:1656px;
}
#title{
  color:white;
  font-size: 64px;
  text-align: center;
}

#banner{
  position:absolute;
  padding-top:20px;
  height:67.5%;
  width:100%;
}
#QrBanner{
  position:absolute;
  right:0;
  bottom:0;
}

#descriptionContent{
  padding-top: 50px;
  height:15%;
  width:100%;
}
#description{
  color : black;
  font-size: x-large;
}
#slideshowContent{
  display: flex;
  align-items: center;
  justify-content: center;
}
#slideshow{
  text-align: center;
}
#imagenSlider{
  background-color: transparent;
  width:100%;
  height:696px;
}
.BannerSection{
  position:relative;
  height:688px;
}

#footer{
    background: url('/totem_prueba/static/src/img/footer.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
}
.o_totem_prueba_totem_mode_footer{
  width:1080px;
  height:132px;
  display: flex;
  justify-content:space-between;
}
#footerText{
  height: 132px;
  width: 948px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footerContent{

  text-align:center;
  color : white;
  font-size: xx-large;
}

#QR{
    padding-right: 12px;
    float:right;
}

#videobanner{
  position:absolute;
  padding-top:20px;
  height:67.5%;
  width:100%;
}

.modal-header{
  position:relative;
  display: flex;
  align-items: right;
  text-align:right;
}
#crossImg{
  heigth:100%;
  width:100%;
}
#closeButton{
  position:absolute;
  right:5px;
  top:0; 
  text-align:right;
  border-color: transparent;
  background-color: transparent;
  heigth:5%;
  width:5%;
}
.modal-body{
  position:relative;
}
.modal-title{
  right:20px;
}
#descriptionPopUp{
  position:absolute;
  right:20px;
}

#QrPopUp{
  margin-right:1%;
  margin-top:5%;
}

#cancelarContenedor{
  display: flex;
  align-items: center;
  justify-content: center;
}
#cancelarButton{
  text-align:center;
  width:100px;
}



